.fila{
    margin: 5px;
}
.contenedor{
    max-width: 600px;
    margin: 10px;

    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(48, 66, 66);
    
    box-shadow: 5px 15px 15px grey;
   
}
button{
    min-width: 50px;
}
.teclas{
    margin: 10px;
    display: inline-block;
}
.todas-teclas{
    display: flex;
}
#titulos{
    display: flex;
}
#marca{
    text-align: center;
    
 /*    display:flexbox;
    justify-content: center;
    align-items: center; */
}
#mensaje{
    max-width: 40%;
    text-align: center;
    margin: 20px
}
div img{
    text-align: center;
}
#resultado{
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin: 10px 20px;
    min-height: 50px;
    max-width: 90%;
}

button:hover{
    background-color: aqua;

}
img{
    display: block;
    max-width: 100px;
}
