.fila{
    margin: 5px;
}
.contenedor{
    max-width: 600px;
    margin: 10px;

    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(48, 66, 66);
    
    box-shadow: 5px 15px 15px grey;
}
button{
    min-width: 50px;
}
.teclas{
    margin: 10px;
    display: inline-block;
}
.sector-teclas{
    display: flex;
}
#titulos{
    background-image: url('../img/formulas.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    margin: 20px;
    width: 85%;
}
#mensaje{
    background-color: white;
    max-height: 150px;
    margin: 50px;
    padding: 15px;
    border-radius: 25px;
        
    font-family: Arial Black;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
    color: #D30240;
}
#marca{
    text-align: center;
}
div img{
    text-align: center;
}
#resultado{
   /* background-color: rgb(217, 255, 0);*/
    border-radius: 10px;
    margin: 5px 15px;
    min-height: 50px;
    max-width: 90%;
}
#textoCalculo{
    background-color: rgb(233, 243, 213);
    min-height: 25px;
    margin: 5px;
}
#textoResultado{
    margin: 5px;
    background-color: rgb(217, 255, 0);
    min-height: 25px;
}
img{
    max-width: 100px;
}
