@media screen and (max-width:600px) {
   .principal{
      min-height: 350px;
      }
   .textoAlfajores{
      width: 65%;
   }   
}

@media screen and  (min-width: 601px) and (max-width:990px) {
   .principal{
      min-height: 500px;
   }

}

@media screen and (min-width:991px) {
   .principal{
      min-height: 600px;
      background-size: cover;
      background-position:right;
      
   }
   .presentacionTexto{
      width: 500px !important;
      padding: 25px;
      color:#fef8f2 !important;
      position: absolute;
      right: 10px;
      font-size: 1.5rem; 
      
   }
   .tituloPresentacion{
      color: #fef8f2 !important;
      margin-top: 5rem;
      font-size: 2rem; 
   }
}


body{
   font-size: 16px;
}

.tituloPresentacion{
   color: #fef8f2 !important;
   margin-top: 3rem;
}

.principal{
   background-image: url('IMAGENES/Central/imagenCentral.png');
   background-size: cover;
}

.presentacionTexto{
   width: 250px;
   padding: 25px;
   color:#212529;
}

.titulo{
   background-color: black;
   color: #fef8f2 !important;
   padding: 10px;
   text-align: center;
   margin: 0px;
}

.colorTituloCard{
   color:#D5AC8C !important;;
}

.bordeBotonCardProductos {
   color: #D5AC8C !important;
   border-color: #D5AC8C !important;
}

.colorTituloLogo{
   color: #fef8f2 !important;
}

.fondoCardProductosAlfajor {
   background-color: #D5AC8C !important;
   border: none;
}